<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymy.xxb.migrat.module.biz.produce.mapper.MessageLabelMapper" >
  <resultMap id="BaseResultMap" type="com.ymy.xxb.migrat.module.biz.produce.entity.MessageLabelDO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="apply_module" property="applyModule" jdbcType="VARCHAR" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="label_alias" property="labelAlias" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
    
    <!-- 分页标签 -->
    <sql id="table_page">
        <if test="rowStart !=null  and  rowEnd !=null ">
            <![CDATA[LIMIT #{rowStart},#{rowEnd}]]>
        </if>
    </sql>
    
    <sql id="Base_Column_List" >
    id,apply_module,label_name,label_alias,sort,state,create_time,create_user,modify_time,modify_user
    </sql>
    
    <insert id="insert" parameterType="com.ymy.xxb.migrat.module.biz.produce.entity.MessageLabelDO" >
        insert into xx_message_label
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="applyModule != null" >
                apply_module,
            </if>
            <if test="labelName != null" >
                label_name,
            </if>
            <if test="labelAlias != null" >
                label_alias,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="modifyUser != null" >
                modify_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="applyModule != null" >
                #{applyModule,jdbcType=VARCHAR},
            </if>
            <if test="labelName != null" >
                #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelAlias != null" >
                #{labelAlias,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=TINYINT},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                #{modifyUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ymy.xxb.migrat.module.biz.produce.entity.MessageLabelDO" >
        update xx_message_label
        <set >
            <if test="applyModule != null" >
                apply_module = #{applyModule,jdbcType=VARCHAR},
            </if>
            <if test="labelName != null" >
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelAlias != null" >
                label_alias = #{labelAlias,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=TINYINT},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <select id="select" parameterType="map" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xx_message_label
        where 1=1 and state = 1
        <if test="applyModule != null and applyModule !=''" >
            and apply_module=#{applyModule,jdbcType=VARCHAR}
        </if>
        <if test="labelName != null and labelName !=''" >
            and label_name=#{labelName,jdbcType=VARCHAR}
        </if>
        <include refid="table_page" />
    </select>
    
    <select id="count" resultType="long" parameterType="map">
        SELECT count(*)
        from xx_message_label
        where 1=1
        <if test="applyModule != null and applyModule !=''" >
            and apply_module=#{applyModule,jdbcType=VARCHAR}
        </if>
        <if test="labelName != null and labelName !=''" >
            and label_name=#{labelName,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xx_message_label
        where id =#{id,jdbcType=VARCHAR}
    </select>

    <update id="logicDelete" parameterType="java.lang.String">
        update xx_message_label set state=0 , modify_time=now() where id=#{id,jdbcType=VARCHAR}
    </update>
    
</mapper>